<p>Сайн байна уу,</p>
<p>Нууц үгээ сэргээхийн тулд доорх холбоосоор орно уу (30 минут хүчинтэй):</p>
<p><a href="{{ reset_url }}">{{ reset_url }}</a></p>
<p>Хэрэв та ийм хүсэлт илгээгээгүй бол энэ имэйлийг үл тоомсорлоно уу.</p>
