{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
  <h1 style="font-family:system-ui;margin:24px 0;">{{ title }} — Welcome</h1>
  <p>App is running on Render ✅</p>
  <p><a href="/healthz">Health</a></p>
{% endblock %}
