{% extends 'base.html.twig' %}
{% block title %}Тайлан бэлтгэх{% endblock %}
{% block body %}
<h1>Тайлан бэлтгэх</h1>
<ul>
  <li><a href="/app/reports/ebarimt">EBARIMT-аар шууд тайлан гаргах</a></li>
  <li><a href="/app/reports/bank">Дансны хуулгаар тайлан гаргах</a></li>
</ul>
{% endblock %}
