{% extends 'base.html.twig' %}
{% block title %}EBARIMT{% endblock %}
{% block body %}
<h1>EBARIMT</h1>
<ul>
  <li><a href="/app/reports/ebarimt/opening-balance">Эхний үлдэгдэл</a></li>
  <li><a href="/app/reports/ebarimt/send">Ebarimt илгээх</a></li>
  <li><a href="/app/reports/ebarimt/history">Тайлангууд</a></li>
</ul>
{% endblock %}
