<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
    </head>
    <body>
        <p><a href="/healthz">Health</a></p>
        <p><a href="{{ path('upload_excel') }}">Upload Excel</a></p>

        {% block body %}{% endblock %}
    </body>
</html>
