{% extends 'base.html.twig' %}
{% block title %}Миний мэдээлэл{% endblock %}
{% block body %}
<h1>Миний мэдээлэл</h1>
<ul>
  <li><a href="/app/profile/security/email">Имэйл солих</a></li>
  <li><a href="/app/profile/security/password">Нууц үг солих</a></li>
</ul>
{% endblock %}
