{% extends 'base.html.twig' %}
{% block title %}Хориотой (403){% endblock %}
{% block body %}
  <h2>Хандалт хориотой</h2>
  <p>Энэ хуудсанд зөвхөн админ эрхтэй хэрэглэгч нэвтэрч болно.</p>
  <p><a href="/">← Нүүр рүү буцах</a></p>
{% endblock %}
