{% extends 'base.html.twig' %}
{% block title %}Дансны хуулгаар тайлан{% endblock %}
{% block body %}
<h1>Дансны хуулгаар тайлан</h1>
<ul>
  <li><a href="/app/reports/bank/import">Импорт</a></li>
  <li><a href="/app/reports/bank/statement">Гүйлгээний жагсаалт (Журнал)</a></li>
</ul>
{% endblock %}
